AWS_REGION=ap-south-1
AWS_ACCESS_KEY_ID=replace-with-least-privilege-key
AWS_SECRET_ACCESS_KEY=replace-with-least-privilege-secret
AWS_DYNAMODB_TABLE=danish-sh-blog-posts
AWS_S3_BUCKET=danish-sh-blog-assets-906985802892
COGNITO_USER_POOL_ID=ap-south-1_sfRxuPB67
COGNITO_CLIENT_ID=49r3afc9n40l9ikbc3naorbmf6
COGNITO_DOMAIN=danish-sh-studio-906985802892.auth.ap-south-1.amazoncognito.com
CMS_ADMIN_EMAIL=dk557876@gmail.com
NEXT_PUBLIC_SITE_URL=https://danish.sh
